<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
  <test name="urn:test:uk:org:onegch:netkernel:ciexperiment" >
    <parameter name="identifier" value="urn:test:uk:org:onegch:netkernel:ciexperiment"/>
    <classes>
      <class name="uk.org.onegch.netkernel.testNG.TestRunner" />
    </classes>
  </test>
</suite>
