<?xml version="1.0" encoding="UTF-8"?>
<module>
  <meta>
    <identity>
      <uri>urn:uk:org:onegch:netkernel:ciexperiment</uri>
      <version>1.0.0</version>
    </identity>
    <info>
      <name>CI Experiment</name>
      <description>Continuous Integration Experiment</description>
    </info>
  </meta>

  <system>
    <dynamic/>
  </system>

  <!-- Space for handing web requests -->
  <rootspace name="CI Experiment" uri="urn:uk:org:onegch:netkernel:ciexperiment" public="true">
    
  </rootspace>
</module>