<?xml version="1.0" encoding="UTF-8"?>
<module version="2.0">
  <meta>
    <identity>
      <uri>urn:test:uk:org:onegch:netkernel:ciexperiment</uri>
      <version>1.0.0</version>
    </identity>
    <info>
      <name>Test / CI Experiment</name>
      <description>Tests for Continuous Integration Experiment</description>
    </info>
  </meta>

  <system>
    <dynamic/>
  </system>

  <!-- Space for handing web requests -->
  <rootspace name="CI Experiment Test" uri="urn:test:uk:org:onegch:netkernel:ciexperiment" public="true">
    
  </rootspace>
</module>