<?xml version="1.0" encoding="UTF-8"?>
<module version="2.0">
  <meta>
    <identity>
      <uri>urn:test:uk:org:onegch:netkernel:selfTest</uri>
      <version>0.3.0</version>
    </identity>
    <info>
      <name>TestNG-NK / Self Test</name>
      <description>A Simple Self Test for TestNG-NK</description>
    </info>
  </meta>

  <system>
    <dynamic/>
  </system>

  <rootspace name="Self Testing for TestNG-NK" uri="urn:test:uk:org:onegch:netkernel:selfTest" public="true">
    <fileset>
      <glob>etc/system/Tests.xml</glob>
    </fileset>
    <fileset>
      <glob>test/*</glob>
    </fileset>
    <import>
      <uri>urn:org:netkernel:xml:saxon</uri>
    </import>
    <import>
      <uri>urn:org:netkernel:xml:core</uri>
    </import>
    <import>
      <uri>urn:org:netkernel:ext:layer1</uri>
    </import>
  </rootspace>
</module>
