<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="NetKernel Tests" verbose="1">
  <test name="urn:uk:org:onegch:netkernel:test:selfTest / selfTest1">
    <parameter name="identifier" value="urn:uk:org:onegch:netkernel:test:selfTest"/>
    <parameter name="name" value="selfTest1"/>
    <classes>
      <class name="uk.org.onegch.netkernel.testNG.TestRunner"/>
    </classes>
  </test>
</suite>